.link {
    font-size: 26px;
    text-decoration: none;
    color: gray;
    
    &:hover {
        color: #0000ff;
        border-bottom: 4px solid #0000ff;
    };
    
    &:not(:last-child) {
        margin-right: 30px;
    }
};
    
.active {
    font-size: 26px;
    text-decoration: none;
    color: #0000ff;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
};