.SearchBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SearchBox_label {
    font-size: 20px;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.SearchBox_input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: 1px solid #000;
    border: 1px solid #000;

    &:focus {
        outline: 1px solid blue;
        border: 1px solid blue;
    }
}